body {
  margin: 5px;
}

h2 {
  font-size: 2vw;
  font-weight: 600;
  font-variant: small-caps;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
  margin: 20px 0 50px 0px;
  color: #fff;
  background-color: #000;
  padding: 10px 10px;
  width: 300px;
  border-radius: 100px;
}

h5:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

a:hover {
  text-decoration: none;
}

.card-deck .card {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 0px;
  border: none;
}

.card-img-top {
  border-radius: 0px;
}

.textContain {
  position: relative;
}

/*sets the hover and styling of hover*/
.textHold {
  text-align: center;
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transition: .6s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*controls the opacity of background on hover*/
.textContain:hover .textHold {
  opacity: 0.8;
}

/*controls the styling of text on hover*/
.hoverText {
  color: #ffffff;
  font-size: 1vw;
  font-weight: 100;
  line-height: normal;
  width: 100%;
  height: auto;
  padding: 12% 10%;
}

@media only screen and (max-width: 574px) {
    h2 {
      font-size: 4vw;
    }
    .hoverText {
      font-size: 2vw;
    }
    .hoverText {
      padding: 20% 10%;
    }
}
