body {
  margin: 5px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-variant: small-caps;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
  margin: 20px 0 50px 15px;

  color: #fff;
  background-color: #000;
  padding: 10px 10px;
  width: 300px;
  border-radius: 100px;
}

a:hover {
  text-decoration: none;
}

h5:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.card-deck .card {
  margin-right: 0px;
  margin-left: 5px;
}

.card-deck {
  margin-right: 5px;
  margin-left: 0px;
}

.card-img-top {
  border-radius: 0px;
}

.textContain {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: .6s ease;
  backface-visibility: hidden;
}

.textHold {
  text-align: center;
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  transition: .6s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.textContain:hover .textHold {
  opacity: 0.8;
}

.hoverText {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: normal;
  width: 100%;
  height: auto;
  padding: 15% 25px;
}
